<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<title>Stalker Wars</title>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/socket.io/socket.io.js' type='text/javascript'></script>
		<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
		<script type="text/javascript" src="/javascripts/swCreate.js"></script>
		<script type="text/javascript" src="/javascripts/sw.js"></script>
		<script type="text/javascript" src="/javascripts/swGui.js"></script>
		<script type="text/javascript" src="/javascripts/swBattle.js"></script>
		<script type="text/javascript" src="/javascripts/swEvents.js"></script>
  </head>
  <body>
		
	
	<div id="game">
		<div id="map"></div>
		<div id="gaming">
			<%- gaming %>
		</div>
		<div id="statistics"></div>
		<div id="inventory"></div>
		<div id="community">
			<div id="players"></div>
			<div id='shoutbox'>
				<div></div>
				<input type="text" class="text_input" style="visibility: hidden"></input>
			</div>
		</div>
		<div id="panel"><img src="../images/alpha.png" usemap="#menus"></img>
			<map name="menus">
				<area shape="poly" coords="16,5, 40,12, 45,88, 10,88" title="Wyloguj" href="/logout">
			</map>
		</div>
	</div>
	
	
				
  </body>
</html>
