<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
		<script src='/socket.io/socket.io.js' type='text/javascript'></script>
		<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
		<script type="text/javascript" src="/javascripts/woh.js"></script>
		<script type="text/javascript" src="/javascripts/wohGui.js"></script>
  </head>
  <body>
		<div id="navbar">	
			<ul id="menu"> 
				<li><a name="/">Strona Główna</a></li> 
				<li>
					<a>Postać</a>
					<ul>
						<li><a name="/statistics" title="">Statystyki</a></li> 
						<li><a name="/inventory">Ekwipunek</a></li>
						<li><a name="/shoop">Sklep</a></li>
						<li><a name="/battles">Walka</a></li>
					</ul>
				</li>
				<li>
					<a>Zarządzaj</a>
					<ul> 
						<li><a name="/register" title="">Rejestracja</a></li> 
						<li><a name="/create-character" title="">Stwórz Postać</a></li> 
						<li><a name="/remove-character" title="">Usuń Postać</a></li>
					</ul> 
		 		</li>
				<li><a name="/players" title="">Lista Graczy</a></li> 						
			</ul> 
		</div>
	
	<div id="game">
		<%- purehtml %>		
	</div> 
	
	<div id="footer">
			<span>Stalker Wars</span>
			<div id='shoutbox'>
				<div style="visibility: hidden">
				</div>
				<span>▼▲</span>
			</div>
	</div>
  </body>
</html>
