<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
		<script src='/socket.io/socket.io.js' type='text/javascript'></script>
		<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
		<script type="text/javascript" src="/javascripts/woh.js"></script>
		<script type="text/javascript" src="/javascripts/wohGui.js"></script>
  </head>
  <body>
		<div id="navbar">	
			<ul id="menu"> 
				<li><a href="/">Strona Główna</a></li> 
				<li><a href="/statistics" title="">Statystyki</a></li> 
				<li>
					<a>Postać</a>
					<ul>
						<li><a href="/inventory">Ekwipunek</a></li>
						<li><a href="/shoop">Sklep</a></li>
						<li><a href="/quests">Zadania</a></li>
						<li><a href="/battles">Walka</a></li>
					</ul>
				</li>
				<li><a href="mail">Poczta</a></li>
				<li>
					<a>Zarządzaj</a>
					<ul> 
						<li><a href="/help" title="">Poradnik</a></li> 
						<li><a href="/register" title="">Rejestracja</a></li> 
						<li><a href="/create-character" title="">Stwórz Postać</a></li> 
						<li><a href="/remove-character" title="">Usuń Postać</a></li>
						<li><a href="/players" title="">Lista Graczy</a></li> 						
					</ul> 
		 		</li> 
			</ul> 
		</div>
	
	<div id="game">
		<%- purehtml %>		
	</div> 
	
	<div id="footer">
			Web of Heroes
	</div>
  </body>
</html>
