@myFont: Arial;
@myBgColor : #222222;
@myBorderColor : #666666;

body {
	background-color: @myBgColor;
	margin: 0;
	padding: 0;	
	font-family: @myFont; 
	margin-top: 10px;
	background-image: url(../images/bbg2.jpg)
}


/* 
	MAIN GAME DIV FOR APPEND OTHER DIVs 
*/
#game {
	color: white;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	width: 886px;
	white-space: wrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: 579px;
	max-height: 579px;
	text-align: center;
	min-width: 780px;
	font-weight: bold;
	padding-top: 71px;
	padding-left: 141px;
	padding-right: 41px;
	#gaming {
		height: 267px;
		width: 517px;
		border-bottom: 1px solid #666666;
		max-height: 267px;
		overflow-y: hidden;
		overflow-x: hidden;
		background-repeat: no-repeat;
		border-top-right-radius: 5px;
		background-color: @myBgColor;
		position: relative;
		canvas {
			position:absolute; 
			top:0; 
			left:0; 
			z-index:0
		}
		/* TEMPORARY FORMS */
		#create-character {
			text-align: center;
			font-weight: bold;
			margin-left: 2px;
			margin-right: 2px;
			font-size: 0.7em;
			background-color: #myBgColor;
			table {
				margin-left: auto;
				margin-right: auto;
				#avatar {
					height: 100px;
					width: 100px;
					margin-left: 2px;
					margin-right: 2px;
				}
				#faction {
					height: 100px;
					width: 100px;
				}
			}	
			td {
				text-align: right;
				padding-left: 10px;
				input {
					width: 96px;
				}
				select {
					width: 102px;
				}
				span {
					padding-right: 5px;
					vertical-align: 4px;
				}
			}
			.stats-btn {
				margin-left: 2px;
				margin-right: 2px;
			}
			.stat-icons {
				position: relative;
				top: 4px;
				margin-left: 2px;
			}
		}
		#index {
			max-height: 350px;
			font-size: 0.7em;
			table {
				margin-left: auto;
				margin-right: auto;
			}
			input {
				width: 120px;
			}
		}
	}
	
	#map {
		float: left;
		width: 267px;
		height: 267px;
		border-bottom : 1px solid #666666;
		border-right : 1px solid #666666;
		position: relative;
		background-color: @myBgColor;
		div {
			cursor: pointer;
		}
		canvas {
			position:absolute; 
			top:0; 
			left:0; 
			z-index:0
		}
		img {
			border-top-left-radius:5px;
		}
	}
	
	
	#statistics {
		background-color: #222222;
		font-size: 0.7em;
		float: left;
		width: 267px;
		height: 236px;
		max-height: 236px;
		font-weight: bold;
		border-right: 1px solid @myBorderColor;
		border-bottom-left-radius: 5px;
		table {
			margin-left: auto;
			margin-right: auto;
			td {
				text-align: left;
				padding-left: 4px;
				padding-right: 4px;
			}
		}
		.stat-icons {
		  position: relative;
			top: 8px;
			margin-right: 2px;
			margin-left: 2px;
		}
	}
	
	#inventory {
		background-color: #222222;
		width: 274px;
		text-align: center;
		padding: 0px;
		margin: 0px;
		height: 235px;
		max-height: 235px;
		float: left;
		border-right: 1px solid @myBorderColor;
		
	}
	
	#community {
		background-color: #222222;
		float: left;
		width: 242px;
		height: 235px;
		max-height: 235px;
		border-bottom-right-radius: 5px;
		#players {
			font-size: 0.8em;
			overflow-y: auto;
			font-weight: bold;
			height: 110px;
			max-height: 110px;
			p {
				margin-top: 0px;
				margin-bottom: 0px;
			}
			.op-icons {
				position: relative;
				top: 6px;
				margin-right: 4px;
			}
		}
		#shoutbox {
			height: 150px;
			div {
				height: 95px;
				max-height: 95px;
				overflow-y: auto;
			}
			p {
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 2px;
				text-align: left;
				padding-right: 20px;
				font-size: 0.7em;
			}
			input {
				border : 1px solid gray;
				background-color: black;
				margin-top: 4px;
				width: 230px;
			}
		}
	}
	
	#panel {
		position: relative;
		left: 800px;
		bottom: 410px;
		width:10px;
		img {
			width: 90px;
			height: 310px;
		}
	
	}
	
	
}

/* 
	HIDDEN DIV WITH AVATARS USED TO CREATE CHARACTER
*/
#avatars_choose {
	background-color: #222222;
	border: 3px solid #444444;
	padding-top : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-right : 30px;
	position: absolute;
	top:  250px;
	left: 500px;
	box-shadow : 5px 5px 10px 10px #000000;
	width: 320px;
	height: 205px;
	#close_popup {
		position: absolute;
		right : 5px;
		top : 5px;
	}
}

/* 
	CLASS FOR EVERY AVATAR IN GAME
*/
.avatars {
	height: 90px;
	width: 90px;
	margin-left: 2px;
	margin-right: 2px;
	&:hover {
	}
}

/*
	STYLE FOR MY JAVASCRIPT POPUP
*/
#myPopup {
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #222222;
	border: 3px solid #444444;
	padding-top : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-right : 30px;
	position: absolute;
	top:  250px;
	left: 500px;
	box-shadow : 5px 5px 10px 10px #000000;
	z-index: 1000;
	#close_popup {
		position: absolute;
		right : 5px;
		top : 5px;
		width: 25px;
		height: 25px;
	}
}

#fsMsg {
	position: absolute;
	z-index: 1000;
	font-size: 2.5em;
	color: white;
	left : 246px;
	top : 40px;
	width: 268px;
	color: red;
	background-color: rgba(34, 34, 34, 0.8); 
}


/* 
	HELPER CLASS, STYLED INPUTS ETC.
*/
.text_input {
	font-weight: bold;
	border-radius: 2px;
	background-color: #131304;
	border: 2px solid #79796A;
	color: white;
	&:hover {
		border: 2px solid #FFFF73;
	}
	&:focus	{
		border: 2px solid #FFFF00;
	}
}

.select_input {
	font-weight: bold;
	background-color: #131304;
	border: 2px solid #79796A;
	border-radius: 5px;
	color: white;
	&:hover {
		border: 2px solid #FFFF73;
	}
	&:focus	{
		border: 2px solid #FFFF00;
	}
}

.button_input {
	font-weight: bold;
	background-color: #131304;
	border: 2px solid #79796A;
	border-radius: 5px;
	color: white;
	&:hover {
		border: 2px solid #FFFF73;
	}
	&:focus	{
		border: 2px solid #FFFF00;
	}
}

.bold-center {
	text-align: center;
	font-size: 25px;
	font-weight:bold;
	margin-left: auto;
	margin-right: auto;
}
.ui-tooltip {
	background: black;
	border: 2px solid white;
	color: white;
}
.actual-place {
	background-image : url(../images/here.png);
	background-repeat:no-repeat;
	background-position:center; 
}

area {
	cursor:pointer;
}

.counter {
	padding-right: 5px;
	font-size: 1.5em;
	font-weight: bold;
}
